<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.limeth.fildreminder">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/constant_application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.FrontActivity"
            android:label="@string/activity_front_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/activity_tap_label"
            android:parentActivityName=".activities.FrontActivity"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings_label"
            android:parentActivityName=".activities.FrontActivity"/>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/activity_about_label"
            android:parentActivityName=".activities.FrontActivity"/>
    </application>

</manifest>
